extends layout

block content
  div.content
    div.content__field
      div.controls
        div.controls__user
          div.controls__user__label Biom
          div.controls__user__username#own_username
      div.play-field
