doctype html
html
  head
    title= title
    meta(content-type='text/html', charset='utf-8')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/app.js')
    script(src='javascripts/player.js')
    script(src='javascripts/game.js')
  body
    block content